*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    width: 100vw;
    height: 100vh;
    
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr fr1 fr1 ;
    grid-template-areas:
    "azul azul azul azul azul"
    "rojo rojo blanco verde verde"
    "rojo rojo amarillo amarillo amarillo";
    gap:5px; 
}
.caja{
    border: 3px solid black;
    
}
.caja1{
background-color: blue;   
grid-area: azul;
}
.caja2{
    border: 3px solid black;
    grid-area: rojo;
    background-color: red;

}
.caja3{
    border: 3px solid black;
    grid-area: verde;
    background-color: green;
}
.caja4{
     border: 3px solid black;
     grid-area: amarillo;
     background-color: yellow;
}
