body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    width: 200px;
    height: 200px;
   background-image: linear-gradient(to bottom, yellow 50%, blue, red);




}